@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap');

.navbar {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

.navbar li {
  list-style-type: none;
}

.navbar li + li {
  margin-left: 20px;
}

.navbar li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}